.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

nav#sidebar {
  padding: 10%;
}

canvas#map-canvas {
  margin: 18px;
}

button#download-file-button {
  margin: 18px;
}

button#upload-file-button {
  margin: 18px;
}

button#add-route-fab {
  position: absolute;
  right: 18px;
  bottom: 92px;
}

button#add-wall-fab {
  position: absolute;
  right: 18px;
  bottom: 18px;
}
