body {
    font-family: 'Roboto', sans-serif;
}

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

.map_header {
}

#gym-name {
    margin: 8px;
}

#large-icon-url {
    margin: 8px;
}

nav#sidebar {
    padding: 10%;
}

div#floors {
    position: absolute;
    width: 48px;
    top: 32px;
    right: 32px;
}

div.floor {
    position: absolute;
    display: flex;
    left: 8px;
    background: rgb(232, 66, 119);
    width: 32px;
    height: 32px;
    line-height: 32px;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    border-radius: 50%;
}

div.floor:hover {
    cursor: pointer;
    position: absolute;
    display: flex;
    left: 8px;
    background: #eee;
    width: 32px;
    height: 32px;
    line-height: 32px;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    border-radius: 50%;
    opacity: 0.95;
}

div.floor-0 {
    top: 32px;
}

div.floor-1 {
    top: 80px;
}

div.floor-2 {
    top: 128px;
}

div.floor-3 {
    top: 176px;
}

div#floors-chart {
    position: absolute;
    left: 20px;
    top: 48px;
    background: #FF4081;
    width: 8px;
    height: 96px;
}

p#floors-label {
    text-align: center;
    font-size: 12sp;
}

canvas#map-canvas {
    margin: 12px;
}

button#add-route-fab {
    position: absolute;
    right: 18px;
    bottom: 92px;
}

button#add-wall-fab {
    position: absolute;
    right: 18px;
    bottom: 18px;
}
